*{margin: 0px;padding: 0px; font-family: X-小汤圆; }
/* 头部 */
#zong_112{

    width: 100%;
    height: 45px;
    background-color: rgb(51,51,51);
}
.av9_{

    height: 45px;
    width: 150px;
    font-size: 13px;
    text-align: center;
    color: white;
}
.av9_ span{
    position: relative;
    top: 16px;
}
.right09_{
    height: 2.8125rem;
    width: 180px;
    /* border: 1px solid yellow; */
    position: absolute;
    right: 50px;
    top: 0px;
    text-align: center;
    line-height: 45px;
    font-size: 14px;
    vertical-align: middle

}.right09_ a{
     text-decoration: none;
     word-spacing: 50px;
     color: white;
 }


#top3o_{
    /* 	border: 1px solid blue; */
    width: 1200px;
    height: 86px;
    margin: 0 auto;

}
.tleft{

    height: 86px;
    width: 200px;
    float:left	;
}
.tf{
    position: relative;
    top: 26px;
}
.tmiddle{

    height: 86px;
    width: 800px;
    float: left;


}
.tm{
    width: 400px;
    height: 40px;
    border: 2px solid rgb(255,140,0);

    border-radius: 5px;
    position: relative;
    top: 27.6px;
    left: 160px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}
.ai_{
    color: white;
    text-decoration: none;
}
.tmr{

    /*  border: 1px solid gray;*/
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: rgb(51,133,255);
    position: relative;
    bottom: 12.5px;
    left: 560px;

}

.tright{

    height: 5.375rem;
    width: 180px;
    float: right;
    font-size: 12px;
    text-align: right;

}
.topword{
    position: relative;
    top: 0px;
    right: 1.8px;

}
.downword{
    position: relative;
    top: -3px;

    letter-spacing: 2.5px;
}
.img_{
    width: 32px;
    position: relative;
    top: 31px;
    right: 110px;
}

.tleft,.tmiddle,.tright{
    display: inline-block;
}
#titles0_{
    clear: both;
    width: 1200px;
    height: 60px;
    margin: 0 auto;

}

.ad124,.ad134,.ad144,.ad154{
    display: inline-block;
border-radius: 5px;
    width: 300px;
    float: left;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: rgb(255,140,0);
    font-size: 16px;
    color: white;
}
.kongbai{
    width: 1200px;
    height: 40px;

    margin: 0 auto;
}
.ino_{
    position: relative;
    width: 30px;
    height: 16px;
    margin-left: 10px;
}
.pagination li{
    float: left;
    list-style-type: none;
;
}
.pagination a{
    text-decoration: none;
    font-size: 18px;
    margin-left: 18px;
    color: black;

}

.left_2a{
    width: 18.75rem;
    height: 50px;

}
.rig2a{
    width: 25rem;
    height: 3.125rem;
    background-color: rgb(224,0,0);
    float: right;

}
.left_2a,.rig2a{
    display: inline-block;
}
#weibu{
    width: 400px;
    height: 50px;
    margin: 0 auto;
    position: absolute;
    top: 525px;
    left: 310px;


}
.toubu_{
    width: 1200px ;
    height: 3.125rem;
    /* 	background-color: rgb(224,0,0); */
    margin: 0 auto;
}
.mainlr{
    width: 75rem;
    height: 550px;
    border: 1px solid rgb(209,218,225);

    border-top: none;
    background-color: white;
    margin: 0 auto;
}
.leftia_{
    width: 12.5rem;
    height: 550px;
    background-image: url(../image/1212.png);

}
.wel{
    text-align: left;
    line-height: 50px;
    color: black;
    font-size: 20px;
}
.righis_{
    height: 548.4px;
    width: 998px;
    /* background-color: white; */
    float: right;
    position: relative;
    right: 0px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 10px;
    line-height: 70px;
    font-size: 20px;
    color: white;
    background-color: rgba(20,20,20,0.3);
    border: 1px solid rgb(209,218,225);
    background-image: url(../image/woshi.png);
}
.a23a{
    width: 350px;
    height: 30px;
  border-radius: 5px;
}
.a530_{
    width: 350px;
    height: 40px;
    border-radius: 5px;
}
.leftia_,.righis_,.weibu{
    display: inline-block;
}
/*#menu {
    position: relative;
    top: 70px;
    width: 200px;


}*/

#menu h1 {
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding: 5px 0 3px 10px;
    border-radius: 5px;
    border-top: 1px solid black;

    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: rgba(20,20,20,0.3);
}

#menu h2 {
    cursor: pointer;
    color: black;
    font-size: 14px;
    padding: 5px 0 3px 10px;

    text-align: center;
    height: 25px;
}
#menu h2 a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}

#menu ul {
    padding-left: 15px;
    height: 200px;

    border-top: none;
    overflow: auto;
}

#menu ul li {
    padding: 5px 0 3px 10px;
}

.no {
    display: none;
}
/* 底部 */
.adw8{
    width: 1200px;
    height: 50px;
    background-color: rgb(255,140,0);
    margin: 0 auto;

}
.adw8 li{
    list-style-type: none;
    float: left;


}

.adw8 li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    position: relative;
    top: 10px;
    margin-left: 66px;
}
.footmain{
    height: 3.4375rem;
    width: 1198px;
    margin: 0 auto;
    border: 1px solid rgb(224,0,0);
}
.awia{
    margin-left: 125px;
}
.f90a_{
    height: 2.5rem;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(224,0,0);
    font-size: 1.25rem;
    font-family: X-小汤圆;
    margin-left: 20px;
    position: relative;
    left:0px;
    color: white;
}