*{margin: 0px;padding: 0px; font-family: X-小汤圆; }
/* 头部 */
#zong_112{

    width: 100%;
    height: 45px;
    background-color: rgb(51,51,51);
}
.av9_{

    height: 45px;
    width: 150px;
    font-size: 13px;
    text-align: center;
    color: white;
}
.av9_ span{
    position: relative;
    top: 16px;
}
.right09_{
    height: 2.8125rem;
    width: 180px;
    /* border: 1px solid yellow; */
    position: absolute;
    right: 50px;
    top: 0px;
    text-align: center;
    line-height: 45px;
    font-size: 14px;
    vertical-align: middle

}.right09_ a{
     text-decoration: none;
     word-spacing: 50px;
     color: white;
 }


#top3o_{
    /* 	border: 1px solid blue; */
    width: 1200px;
    height: 86px;
    margin: 0 auto;

}
.tleft{

    height: 86px;
    width: 200px;
    float:left	;
}
.tf{
    position: relative;
    top: 26px;
}
.tmiddle{

    height: 86px;
    width: 800px;
    float: left;


}
.tm{
    width: 400px;
    height: 40px;
    border: 2px solid rgb(255,140,0);

    border-radius: 5px;
    position: relative;
    top: 27.6px;
    left: 160px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}
.ai_{
    color: white;
    text-decoration: none;
}
.tmr{

    /*  border: 1px solid gray;*/
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: rgb(51,133,255);
    position: relative;
    bottom: 12.5px;
    left: 560px;

}

.tright{

    height: 5.375rem;
    width: 180px;
    float: right;
    font-size: 12px;
    text-align: right;

}
.topword{
    position: relative;
    top: 0px;
    right: 1.8px;

}
.downword{
    position: relative;
    top: -3px;

    letter-spacing: 2.5px;
}
.img_{
    width: 32px;
    position: relative;
    top: 31px;
    right: 110px;
}

.tleft,.tmiddle,.tright{
    display: inline-block;
}
#titles0_{
    clear: both;
    width: 1200px;
    height: 60px;
    margin: 0 auto;

}

.ad124,.ad134,.ad144,.ad154{
    display: inline-block;
border-radius: 5px;
    width: 300px;
    float: left;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: rgb(255,140,0);
    font-size: 16px;
    color: white;
}
.kongbai{
    width: 1200px;
    height: 40px;

    margin: 0 auto;
}
/* 底部 */
.adw8{
    width: 1200px;
    height: 50px;
    background-color: rgb(255,140,0);
    margin: 0 auto;

}
.adw8 li{
    list-style-type: none;
    float: left;


}

.adw8 li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    position: relative;
    top: 10px;
    margin-left: 66px;
}
.footmain{
    height: 3.4375rem;
    width: 1198px;
    margin: 0 auto;
    border: 1px solid rgb(224,0,0);
}