.data_box {
    background-color: #F0F0F0;
    margin: 0 auto;
    height: 500px;
    width: 900px;
}

.show_data {
    background-color:  white;
    margin: auto;
    height: 450px;
    width: 800px;
    line-height: 20px;

}

.sort {
    margin-left: 120px;
}

.sort li {
    float: left;
    margin-left: 15px;
    list-style-type: none;
}

.navigation {
    width: 150px;
    height: 220px;
    background-color:#FFC900;
    text-align: center;
}
.navigation button{
    font-size: 20px;
    line-height: 30px;
    background: #FFC900;
    width: 150px;
    height: 60px;

}
.navigation a:hover{
    color: blue;
}

.tbody2 tr{
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}

